@import "tailwindcss";

:root {
  --background: #0b0f19;
  --foreground: #f9fafb;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(
      circle at top left,
      rgba(59, 130, 246, 0.15),
      transparent 25%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(139, 92, 246, 0.15),
      transparent 25%
    ),
    #0b0f19;

  color: var(--foreground);
}
